html {
	height: 100%;
}

body {
	/*background-color: #266a9f;*/
	background-color: #e9ebee;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #fff;
	margin: 0 ;
	padding: 0;
	height: 100%;
}

.container {
	height: 100%;
	margin: 0 auto;
	min-width: 600px;
	position: relative;
	margin: 0 auto;
}

.container .container-header {
	font-weight: bolder;
	font-size: 28px;
	line-height: 2;
	padding: 5px 0 0 10px;
	background-color: #3b5998;
	height: 60px;
	
}

.main {
	/*background-color: #1685dc;*/
	position: absolute;
	color: #000;
	top: 70px;
	bottom: 0;
	width: 100%;
	min-width: 600px;
}

.cate, .task {
    float: left;
    width: 240px;
}

.to-do {
	position: absolute;
	left: 500px;
}

.main footer {
    position: absolute;
    bottom: 0;
}

ul, li {
	list-style: none;
}